C:\Courses\GitHub\pythontraining\InstantClient\*.*
C:\Courses\GitHub\pythontraining\InstantClient
InstantClient/adrci.exe
InstantClient/adrci.sym
InstantClient/BASIC_LICENSE
InstantClient/BASIC_README
InstantClient/genezi.exe
InstantClient/genezi.sym
InstantClient/oci.dll
InstantClient/oci.sym
InstantClient/ocijdbc19.dll
InstantClient/ocijdbc19.sym
InstantClient/ociw32.dll
InstantClient/ociw32.sym
InstantClient/ojdbc8.jar
InstantClient/oramysql19.dll
InstantClient/oramysql19.sym
InstantClient/orannzsbb19.dll
InstantClient/orannzsbb19.sym
InstantClient/oraocci19.dll
InstantClient/oraocci19.sym
InstantClient/oraocci19d.dll
InstantClient/oraocci19d.sym
InstantClient/oraociei19.dll
InstantClient/oraociei19.sym
InstantClient/oraons.dll
InstantClient/orasql19.dll
InstantClient/orasql19.sym
InstantClient/ucp.jar
InstantClient/uidrvci.exe
InstantClient/uidrvci.sym
InstantClient/vc14/oraocci19.dll
InstantClient/vc14/oraocci19.sym
InstantClient/vc14/oraocci19d.dll
InstantClient/vc14/oraocci19d.sym
InstantClient/xstreams.jar
